In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


#Carregando os dados consolinados

df_consolidado = pd.read_csv('../datas/df_consolidado.csv',sep=';',encoding='latin-1')

#Usando uma função para converter todos os valor

def converter_valor(texto):

    #Remove o cifrão e substitui a virgula pelo ponto
    try:
        return float((texto.replace("$","").replace('.','').replace(',','.')))
    except:
        return 0.0


colunas_valor = ['valor_bruto', 'valor_liquido', 'valor_descontos', 'valor_cancelamentos', 'valor_financiamento', 'valor_estorno', 'valor_renegociacao', 'valor_fundo', 'valor_ressarcimento', 'valor_multa', 'valor_juros', 'valor_pagamento', 'dias_atraso', 'multa_prevista', 'juro_previsto', 'desconto_previsto', 'status', 'saldo_devedor', 'total_a_pagar', 'pagamento_boleto', 'pagamento_dinheiro', 'pagamento_cheque', 'pagamento_cartao_credito', 'pagamento_cartao_debito', 'pagamento_transferencia']

for col in colunas_valor:
    if df_consolidado[col].dtype == object:
    #Se a coluna estiver com a string ele aplica a conversão
        df_consolidado[col] = df_consolidado[col].apply(converter_valor)


df_consolidado['competencia'] = pd.to_datetime(df_consolidado['competencia'],errors='coerce')


display(df_consolidado.loc[20:50,['valor_bruto','valor_liquido','valor_descontos']])


#Calcular as metricas de interesse
# Definindo:
#   liquido_a_receber = valor_liquido
#   liquido_recebido = valor_pagamento
#   soma_liquida_inadimplencia = saldo_devedor
#   percentual_inadimplencia = (saldo_devedor / valor_liquido) * 100 (tratando divisão por zero)


df_consolidado['percentual_inadimplencia'] = df_consolidado.apply(
    lambda row:(row["saldo_devedor"]/row['valor_liquido']*100) if row['valor_liquido'] != 0 else 0,
    axis=1
)

    valor_bruto  valor_liquido  valor_descontos
20       4646.0           0.00          4646.00
21       1156.0           0.00          1156.00
22        448.0         295.66           152.34
23       4646.0           0.00          4646.00
24       1156.0           0.00          1156.00
25        448.0         295.66           152.34
26       4646.0           0.00          4646.00
27       4646.0           0.00          4646.00
28       1156.0           0.00          1156.00
29        448.0           0.00           448.00
30       4646.0           0.00          4646.00
31       1156.0           0.00          1156.00
32        448.0           0.00           448.00
33       4646.0           0.00          4646.00
34       1156.0           0.00          1156.00
35        448.0           0.00           448.00
36       4646.0           0.00          4646.00
37       1239.0           0.00          1239.00
38        489.0           0.00           489.00
39       5360.0           0.00          5360.00
40       1239.0           0.00          1239.00
41        489.0           0.00           489.00
42       5360.0           0.00          5360.00
43       1239.0           0.00          1239.00
44        489.0           0.00           489.00
45       5360.0           0.00          5360.00
46       4646.0           0.00          4646.00
47       1156.0           0.00          1156.00
48        448.0           0.00           448.00
49       4646.0           0.00          4646.00
50       1156.0           0.00          1156.00